@import url(paleta.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-principal);
}

img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(5, 176, 255, 0.39);
    border: 4px solid transparent;
    outline: 2px solid rgb(5, 155, 255);
    transition: 1s;
}

img:hover {
    box-shadow: 0px 0px 40px rgba(5, 155, 255, 0.479)
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--background-variacao);
    color: var(--branco-titulos);

    padding: 10px 10px; 
}

div.header-logo h2 {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

span {
    color: #00e5ff;
    text-shadow: 0 0 8px #00e5ff;
}

ul {
    display: flex;
    justify-content: center;
    gap: 20%;
    font-weight: bold;
    list-style: none; 
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

section.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.575);
}