:root {
    --background-principal: #23272e;
    --background-card: #2e323f;
    --background-variacao: #22252c;
    --principal-principal-botao: #00e5ff;
    --principal-teal-neon: #0abdc6;
    --segundaria-roxo-vibrante: #a855f7;
    --segundaria-magenta-neon: #ea00d9;
    --branco-titulos: #ffffff;
    --cinza-claro-descricao: #a1a1aa;
}