@charset "UTF-8";
@import url(paleta.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-principal);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background-principal);
    color: var(--branco-titulos);

    padding: 10px 20px;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    
}

div.header-logo h2 {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

span {
    color: #00e5ff;
    text-shadow: 0 0 8px #00e5ff;
}

div.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    margin: 5px;
}

button#hamburger {
    background-color: transparent;
    border: none;
    color: var(--branco-titulos);

    font-size: 1.2em;
}

.some {
    display: none;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style: none;
    a{
        color: white;
        text-decoration: none;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;

    img {
        width: 160px;
        border-radius: 8px;
        margin: -10px;
    }

    h2 {
        margin-bottom: 10px;
    }

    button.btn-add {
        padding: 10px;
        border-radius: 25px;
        background: linear-gradient(var(--background-card), var(--background-card)) padding-box,
                    linear-gradient(to right, #00e5ff, #A855F7, #EA00D9) border-box;
        border: 1px solid transparent;
    
        color: var(--principal-principal-botao);
        font-weight: bold;
        box-shadow: 0px 0px 10px rgba(1, 247, 255, 0.171);
        text-shadow: 0px 0px 10px rgba(2, 255, 234, 0.486);
    }

    button.btn-add:hover {
        cursor: pointer;
    }
}

main section#home { 
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;

    background-image: url(../images/hero-section.png);
    background-size: cover;
    color: var(--branco-titulos);

    padding: 20px;

    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.548);
}

button.btn-header {
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 120px;
    box-shadow: 0px 0px 15px #7700ffd0;
    background-image: linear-gradient(to right, #0e00d9ec, #9421ff, #ff25f0);

    color: var(--branco-titulos);
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
    font-size: 0.8em;

    transition: 1s;
}

button.btn-header:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px #7700ffe1;

}

main section#product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-principal);
    color: var(--branco-titulos);
}

main section#product h2 {
    font-size: 1.2em;
}

div.container-cards-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 0.9em;
    gap: 15px;

    h3 {
        font-size: 1em;
        margin-top: 10px;
    }

    p.price {
        font-size: 1.5em;
        color: var(--principal-teal-neon);
        text-shadow: 0px 0px 5px var(--principal-teal-neon);
    }
}

div.card-products {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    min-width: 160px;
    max-width: 300px;
    min-height: 270px;
    background-color: var(--background-card);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.438);
}

main section#category {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-variacao);
    color: var(--branco-titulos);
    padding: 40px 0px;
    font-size: 1.1em;
    gap: 20px;
}

div.container-cards-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 0.9em;
    gap: 20px;
}

div.card-category {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;

    min-width: 160px;
    max-width: 300px;
    background-color: var(--background-card);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(2, 74, 116, 0.589);

    img {
        border: 1px solid rgb(59, 59, 59);
    }

    img:hover {
        cursor: pointer;
    }

    transition: 1s;
}

div.card-category:hover {
    
    scale: calc(1.05);
}

section#coupon {
    display: flex;
    justify-content: center;
    align-items: center;

    div.coupon-banner {
        border-radius: 10px;

        background: url(../images/background-coupon.jpg) padding-box,
                    linear-gradient(to right, #00e5ff, #A855F7, #EA00D9) border-box;
        border: 1px solid transparent;
        box-shadow: 0px 0px 10px #ae00ff5b;

        background-size: cover;
        background-position: center center;

        min-width: 330px;
        max-width: 800px;
        min-height: 7em;
        max-height: 12em;

        transition: 1s;
    }

    div.coupon-banner:hover {
        cursor: pointer;
        box-shadow: 0px 0px 30px #ae00ff5b;
    }
}

section#best {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-variacao);
    color: var(--branco-titulos);
    padding: 20px 0px;

    div.container-cards-best {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
        font-size: 0.9em;
        gap: 10px;

        h3 {
            font-size: 1em;
        }

        p.price {
            font-size: 1.5em;
            color: var(--principal-teal-neon);
            text-shadow: 0px 0px 5px var(--principal-teal-neon);
        }
    }

    div.card-best {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;

        min-width: 160px;
        max-width: 300px;
        min-height: 270px;
        background-color: var(--background-card);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.438);
    }
}

section#feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    color: white;

    div.container-cards-feedback {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px 0px;
        justify-content: space-around;
        align-items: center;
        background-color: var(--background-principal);
    }

    div.card-feedback {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        background-image: linear-gradient(to right,#4d5158 10%,#242730);
        padding: 40px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.301);
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.123);

        img {
            width: 60px;
            border-radius: 50%;
            border: 2px solid transparent;
            outline: 1px solid white;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.144);
        }

        div.card-stars {
            color: rgb(255, 238, 0);
            text-shadow: 0px 0px 5px rgba(255, 238, 0, 0.534);
        }

        transition: 1s;
    }

    div.card-feedback:hover {
        cursor: pointer;
        scale: calc(1.05);
    }
}

section#community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: white;
    padding: 20px 0px;

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    input {
        padding: 15px;
        border-radius: 20px;
        border: none;

        background-color: var(--background-card);
        color: white;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    font-weight: bold;

    background-color: rgb(20, 20, 20);

    a {
        font-weight: normal;
        color: rgb(214, 214, 214);
        text-decoration: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    ul.footer-media {
        display: flex;
        gap: 10px;

        ul.footer-media-icon {
            display: flex;
            flex-direction: row;
            font-size: 2em;
        }
    }
}

div.end {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    background-color: rgb(20, 20, 20);
    font-size: 0.8em;
}