@charset "UTF-8";

:root {
    /*FUNDO*/
    --background-principal: #23272e;
    --background-card: #2e323f;
    --background-variacao: #32394b;

    /*PRINCIPAL*/
    --principal-principal-botao: #00e5ff;
    --principal-ciano-medio: #00B8D9;
    --principal-teal-neon: #0ABDC6;

    /*SEGUNDARIA*/
    --segundaria-roxo-vibrante: #A855F7;
    --segundaria-magenta-neon: #EA00D9;
    --segundaria-roxo-mais-escuro: #C026D3;

    /*DETALHES*/
    --verde-neon: #00FF9F;
    --verde-mais-forte: #39FF14;

    /*TEXTO*/
    --branco-titulos: #FFFFFF;
    --cinza-claro-descricao: #A1A1AA;
    --cinza-medio: #6B7280;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-principal);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--background-principal);
    color: var(--branco-titulos);

    padding: 10px;
}

div.header-logo {
    color: var(--principal-principal-botao);
    text-shadow: 0px 0px 15px var(--principal-teal-neon);

    font-weight: bolder;
    text-align: center;
    line-height: 0.8em;
    font-size: 1.1em;
}

div.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    margin: 5px;
}

button#hamburger {
    background-color: transparent;
    border: none;
    color: var(--branco-titulos);

    font-size: 1.2em;
}

ul {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;

    img {
        width: 160px;
        border-radius: 8px;
        margin: -10px;
    }
}

main section#home { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;

    background-image: url(../images/hero-section.png);
    background-size: cover;
    color: var(--branco-titulos);

    padding: 20px;

    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.548);
}

button.btn-header {
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 120px;
    box-shadow: 0px 0px 15px #7700ffd0;
    background-image: linear-gradient(to right, #0e00d9ec, #9421ff, #ff25f0);

    color: var(--branco-titulos);
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
    font-size: 0.8em;
}

button.btn-header:hover {
    cursor: pointer;
}

main section#product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-principal);
    color: var(--branco-titulos);
}

main section#product h2 {
    font-size: 1.2em;
}

div.container-cards-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 0.9em;
    gap: 20px;

    h3 {
        font-size: 1em;
    }

    p.price {
        font-size: 1.5em;
        color: var(--principal-teal-neon);
        text-shadow: 0px 0px 5px var(--principal-teal-neon);
    }
}

div.card-products {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;

    min-width: 160px;
    max-width: 300px;
    min-height: 270px;
    background-color: var(--background-card);
    padding: 10px;
    border-radius: 8px;

    button.btn-add {
        padding: 10px;
        border-radius: 25px;
        background: linear-gradient(var(--background-card), var(--background-card)) padding-box,
                    linear-gradient(to right, #00e5ff, #A855F7, #EA00D9) border-box;
        border: 1px solid transparent;
    
        color: var(--principal-principal-botao);
        font-weight: bold;
        box-shadow: 0px 0px 10px rgba(1, 247, 255, 0.281);
        text-shadow: 0px 0px 10px rgba(2, 255, 234, 0.863);
    }

    button.btn-add:hover {
        cursor: pointer;
    }
}

main section#category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-principal);
    color: var(--branco-titulos);
}

main section#category h2 {
    font-size: 1.2em;
}

div.container-cards-category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 0.9em;
    gap: 20px;

    h3 {
        font-size: 1em;
    }
}

div.card-category {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;

    min-width: 160px;
    max-width: 300px;
    background-color: var(--background-card);
    padding: 10px;
    border-radius: 8px;

    img {
        border: 1px solid rgb(59, 59, 59);
    }

    img:hover {
        cursor: pointer;
    }
}

section#coupon {
    background-color: red;
}